#root {
    background-color: #f2f4ee;
}

.cursor-pointer {
    cursor: pointer;
}

.grigio {
    color: grey;
    font-size: 0.9em;
    overflow: hidden;
}

#fr-add-btn:hover {
    border: 2px solid black !important;
    background-color: rgba(128, 122, 122, 0.4);
    transition: 0.3s;
}

#pcpc {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 0;
}