@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }

/* #root {
    background-color: #f2f4ee;
} */

.cursor-pointer {
  cursor: pointer;
}

.grigio {
  color: grey;
  font-size: 0.9em;
  overflow: hidden;
}

#fr-add-btn:hover {
  border: 2px solid black !important;
  background-color: rgba(128, 122, 122, 0.4);
  transition: 0.3s;
}

#pcpc {
  font-weight: 700;
  font-size: 1em;
  margin-bottom: 0;
}

body {
  background-color: rgb(244, 242, 238);
}

.ro {
  display: flex;
  justify-content: center;
}

.bord {
  border: 1px solid gray;
  width: 500px;
  padding: 0px;
}

.cont {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
}

.pro {
  position: absolute;
  display: flex;
  width: 153px;
  bottom: -40px;
  margin-left: 1em;
  border: 2px solid white;
  border-radius: 190px;
}

.ma {
  margin-left: 1em;
}

.bi {
  color: rgb(87, 87, 87);
}

.custom-button {
  border: 1px solid #0A66C2;
  border-radius: 20px; 
  padding:0 20px; 
  margin-top: 0.7em;
  font-size: 16px; 
  font-weight: 600;

  background-color: white; 
  color: #0A66C2; 
}

.custom-button:hover, .custom-button:focus {
  background-color: rgb(178, 228, 245) ; 
  color: #0A66C2; 
}

.custom-button:active {
  background-color: white;
  
}

.input-container {
  padding-right: 5em;
  position: relative;
}

@media (max-width: 768px) {
  .input-container .form-control {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 5;
    width: 400px;
    max-width: 400px;
    transition: all 1s ease-out; 
    display: none;
  }

  .input-container .form-control.expanded {

    display: block; 
  }
}

.smalltext {
  font-size: 12px;
}

.topbar-img-profile {
  width: 35px;
  object-fit: cover;
  text-align: center;
}

#basic-nav-dropdown {
  padding: 0 !important;
}

#Footer p {
  font-size: small;
  padding-inline: 5px;
}

#Footer h5 {
  font-size: medium;
}

.footerDrop {
  width: 130px;
}

@media (max-width: 768px) {
  #Footer {
    padding-inline: 0;
  }

  #footer-select {
    width: 100%;
  }
}

.jobs-container{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid lightgrey;
  background-color: white;
}
.jobs-img{
  width: 50%;
}